
# You can find Properties.md in the CustomCreatures folder for details on properties.
# You can also find other files with interesting values in there.
# To see what the values for a creature are, consult CreatureTemplates.txt

# The only required property for a custom creature is the `name`.
# by default properties can be a variety of stuff. change them if you don't like em.
# Changing a creature's name seems to cause existing ones to not work anymore. Look out for that.

# Be sure to not misspell the property names. The server will crash if it finds an unknown property name.
# It won't crash if you misspell the creature's identifier. You are allowed to have
# creatures "defined", but not in customCreatures, meaning they don't do anything and aren't loaded. This is
# because this allows for easy swapping of which mobs you want to have on the server.

# A list of the creatures to include. You will use these identifiers (must be single word) later in this file.
customCreatures = Walking_Corpse;Kraken;Ooze;Spider_Queen;Bandit;Sand_Giant;Skeleton_Warrior;Grave_Keeper;Dune_Worm;Astral_Guardian



# Defining properties for the first creature. The name is strictly required.
Walking_Corpse.name = Walking Corpse
Walking_Corpse.sizeModifier = 84; 84; 84
Walking_Corpse.modelName = model.creature.humanoid.human.player.zombie.male
Walking_Corpse.dimension = 40; 100; 50
Walking_Corpse.color = 200; 22; 22;
Walking_Corpse.naturalArmour = 0.30F
Walking_Corpse.baseCombatRating = 17.0F
Walking_Corpse.hasHands = true;
Walking_Corpse.alignment = -30.0f
Walking_Corpse.maxAge = 100
Walking_Corpse.armourType = 4
Walking_Corpse.maxGroupAttackSize = 6
Walking_Corpse.deathSounds = sound.death.zombie; sound.death.zombie
Walking_Corpse.hitSounds = sound.combat.hit.zombie; sound.combat.hit.zombie
Walking_Corpse.skill1 = 102; 50.0
Walking_Corpse.skill2 = 103; 50.0
Walking_Corpse.skill3 = 104; 50.0
Walking_Corpse.skill4 = 101; 50.0
Walking_Corpse.skill5 = 105; 50.0
Walking_Corpse.skill6 = 106; 50.0
Walking_Corpse.skill7 = 10052; 50.0
Walking_Corpse.skill8 = 1023; 50.0
Walking_Corpse.combatDamageType = 1
Walking_Corpse.handDamage = 6.0
Walking_Corpse.kickDamage = 10.0
Walking_Corpse.biteDamage = 13.0
Walking_Corpse.headButtDamage = 8.0
Walking_Corpse.breathDamage = 0.0
Walking_Corpse.handDamString = claw
Walking_Corpse.kickDamString = kick
Walking_Corpse.butcheredItems = 92;140;308;308;636
Walking_Corpse.meatMaterial = 87
Walking_Corpse.types = 29;16;18;7;13;6;39
Walking_Corpse.speed = 1f
Walking_Corpse.moveRate = 1200
Walking_Corpse.aggressivity = 42
Walking_Corpse.bodyType = 0
Walking_Corpse.maxHuntDistance = 12
Walking_Corpse.vision = 8
#Walking_Corpse.encounter1 = TILE_MYCELIUM; 3; 3
#Walking_Corpse.maxPercentOfCreatures = 0.01f


# Defining properties for the second creature.
Kraken.name = Kraken
Kraken.sizeModifier = 574; 574; 574
Kraken.modelName = model.creature.fish.octopus.male
Kraken.dimension = 50; 100; 50
Kraken.color = 122; 22; 42;
Kraken.naturalArmour = 0.3F
Kraken.baseCombatRating = 23.0F
Kraken.hasHands = false;
Kraken.alignment = -30.0f
Kraken.maxAge = 100
Kraken.armourType = 4
Kraken.maxGroupAttackSize = 6
Kraken.deathSounds = sound.death.snake; sound.death.snake
Kraken.hitSounds = sound.combat.hit.snake; sound.combat.hit.snake
Kraken.skill1 = 102; 50.0
Kraken.skill2 = 103; 50.0
Kraken.skill3 = 104; 50.0
Kraken.skill4 = 101; 50.0
Kraken.skill5 = 105; 50.0
Kraken.skill6 = 106; 50.0
Kraken.skill7 = 10052; 70.0
Kraken.skill8 = 1023; 70.0
Kraken.combatDamageType = 1
Kraken.handDamage = 6.0
Kraken.kickDamage = 10.0
Kraken.biteDamage = 15.0
Kraken.headButtDamage = 8.0
Kraken.breathDamage = 0.0
Kraken.handDamString = slap
Kraken.kickDamString = squeze
Kraken.butcheredItems = 92;92;140;140;308;308;752;752;636;1397
Kraken.meatMaterial = 85
Kraken.types = 7;44;38;6;3;16;29;16;37
Kraken.speed = 1.5f
Kraken.moveRate = 2100
Kraken.aggressivity = 45
Kraken.bodyType = 9
Kraken.maxHuntDistance = 16
Kraken.vision = 8
Kraken.offZ = -0.4f
#no spawn yet because it can also spawn on land but can be used for mission creation ect


# Defining properties for the third creature.

Ooze.name = Ooze
Ooze.sizeModifier = 134; 134; 134
Ooze.modelName = model.blob
Ooze.dimension = 25; 100; 50
Ooze.color = 22; 212; 32;
Ooze.naturalArmour = 0.5F
Ooze.baseCombatRating = 15.0F
Ooze.hasHands = false;
Ooze.alignment = -30.0f
Ooze.maxAge = 100
Ooze.armourType = 3
Ooze.maxGroupAttackSize = 6
Ooze.deathSounds = sound.death.snake; sound.death.snake
Ooze.hitSounds = sound.combat.hit.snake; sound.combat.hit.snake
Ooze.skill1 = 102; 50.0
Ooze.skill2 = 103; 50.0
Ooze.skill3 = 104; 50.0
Ooze.skill4 = 101; 50.0
Ooze.skill5 = 105; 50.0
Ooze.skill6 = 106; 50.0
Ooze.skill7 = 10052; 40.0
Ooze.skill8 = 1023; 40.0
Ooze.combatDamageType = 10
Ooze.handDamage = 8.0
Ooze.kickDamage = 8.0
Ooze.biteDamage = 0.0
Ooze.headButtDamage = 10.0
Ooze.breathDamage = 10.0
Ooze.handDamString = squeze
Ooze.kickDamString = squeze
Ooze.breathDamString = spit
Ooze.butcheredItems = 73;73
Ooze.meatMaterial = 87
Ooze.types = 29;16;7;13;6;39
Ooze.speed = 1f
Ooze.moveRate = 1200
Ooze.aggressivity = 32
Ooze.bodyType = 9
Ooze.maxHuntDistance = 12
Ooze.vision = 6
Ooze.physicalResistance = 0.6f
Ooze.coldVulnerability = 1.4f
#Ooze.encounter1 = TILE_MARSH; 3; 3
#Ooze.maxPercentOfCreatures = 0.02f

# Defining properties for the fourth creature.

#mission miniboss but weaker than astral guardian , spawns on moss if enabled else for mission creation / if you dare you can shear and milk it! but it also drops 3x more gland and some wool, high difficulty butcher since a lot of stuff , does acid damage


Spider_Queen.name = Spider Queen
Spider_Queen.sizeModifier = 114; 114; 114
Spider_Queen.modelName = model.creature.multiped.spider.fog
Spider_Queen.dimension = 40; 120; 50
Spider_Queen.naturalArmour = 0.25F
Spider_Queen.baseCombatRating = 22.0F
Spider_Queen.hasHands = false;
Spider_Queen.alignment = -30.0f
Spider_Queen.maxAge = 100
Spider_Queen.armourType = 2
Spider_Queen.maxGroupAttackSize = 8
Spider_Queen.deathSounds = sound.death.spider;sound.death.spider
Spider_Queen.hitSounds = sound.combat.hit.spider;sound.combat.hit.spider
Spider_Queen.skill1 = 102; 60.0
Spider_Queen.skill2 = 103; 80.0
Spider_Queen.skill3 = 104; 50.0
Spider_Queen.skill4 = 101; 40.0
Spider_Queen.skill5 = 105; 60.0
Spider_Queen.skill6 = 106; 60.0
Spider_Queen.skill7 = 10052; 50.0
Spider_Queen.skill8 = 1023; 70.0
Spider_Queen.combatDamageType = 10
Spider_Queen.handDamage = 4.0
Spider_Queen.kickDamage = 8.0
Spider_Queen.biteDamage = 10.0
Spider_Queen.headButtDamage = 6.0
Spider_Queen.breathDamage = 5.0
Spider_Queen.color = 22; 22; 122
Spider_Queen.handDamString = sting
Spider_Queen.kickDamString = spit
Spider_Queen.headbuttDamString = smash
Spider_Queen.butcheredItems = 92;308;308;636;921;921;921;921;921;921;921;310;310;310
Spider_Queen.meatMaterial = 82
Spider_Queen.types = 29;16;18;7;13;6;39;15;52
Spider_Queen.speed = 1f
Spider_Queen.moveRate = 1800
Spider_Queen.aggressivity = 55
Spider_Queen.bodyType = 8
Spider_Queen.maxHuntDistance = 16
Spider_Queen.vision = 8
Spider_Queen.combatMoves = 1;
#Spider_Queen.encounter2 = TILE_MOSS; 1; 3
#Spider_Queen.maxPercentOfCreatures = 0.005f
Spider_Queen.sex = 2
Spider_Queen.keepSex = true

# Defining properties for the fifth creature.

Bandit.name = Bandit
Bandit.sizeModifier = 64; 64; 64
Bandit.modelName = model.creature.humanoid.human.guard.tower.male.hots
Bandit.dimension = 25; 100; 50
Bandit.color = 255; 255; 255;
Bandit.naturalArmour = 0.4F
Bandit.baseCombatRating = 17.0F
Bandit.hasHands = true;
Bandit.alignment = -30.0f
Bandit.maxAge = 100
Bandit.armourType = 3
Bandit.maxGroupAttackSize = 6
Bandit.deathSounds = sound.death.male; sound.death.female
Bandit.hitSounds = sound.combat.hit.male; sound.combat.hit.female
Bandit.skill1 = 102; 40.0
Bandit.skill2 = 103; 40.0
Bandit.skill3 = 104; 40.0
Bandit.skill4 = 101; 40.0
Bandit.skill5 = 105; 30.0
Bandit.skill6 = 106; 30.0
Bandit.skill7 = 10052; 50.0
Bandit.skill8 = 1023; 50.0
Bandit.combatDamageType = 1
Bandit.handDamage = 6.0
Bandit.kickDamage = 8.0
Bandit.biteDamage = 0.0
Bandit.headButtDamage = 15.0
Bandit.breathDamage = 0.0
Bandit.handDamString = slice
Bandit.kickDamString = kick
Bandit.headbuttDamString = neckslice
Bandit.butcheredItems = 50;50
Bandit.meatMaterial = 81
Bandit.types = 29;7;13;6;39;30
Bandit.speed = 1f
Bandit.moveRate = 1200
Bandit.aggressivity = 32
Bandit.bodyType = 0
Bandit.maxHuntDistance = 12
Bandit.vision = 8
#Bandit.encounter1 = TILE_COBBLESTONE_ROUGH; 4; 3
#Bandit.encounter2 = TILE_COBBLESTONE_ROUND; 4; 3
#Bandit.encounter3 = TILE_SANDSTONE_BRICKS; 4; 2
#Bandit.encounter4 = TILE_MARBLE_BRICKS; 4; 2
#Bandit.encounter5 = TILE_POTTERY_BRICKS; 4; 2
#Bandit.encounter6 = TILE_COBBLESTONE; 4; 3
#Bandit.maxPercentOfCreatures = 0.01f


# Defining properties for the 6 creature.

Sand_Giant.name = Sand Giant
Sand_Giant.sizeModifier = 38; 38; 38
Sand_Giant.modelName = model.creature.humanoid.giant.forest
Sand_Giant.dimension = 35; 100; 50
Sand_Giant.color = 101;67;33;
Sand_Giant.naturalArmour = 0.3F
Sand_Giant.baseCombatRating = 22.0F
Sand_Giant.hasHands = true;
Sand_Giant.alignment = -30.0f
Sand_Giant.maxAge = 100
Sand_Giant.armourType = 5
Sand_Giant.maxGroupAttackSize = 8
Sand_Giant.deathSounds = sound.death.troll; sound.death.troll
Sand_Giant.hitSounds = sound.combat.hit.troll; sound.combat.hit.troll
Sand_Giant.skill1 = 102; 60.0
Sand_Giant.skill2 = 103; 50.0
Sand_Giant.skill3 = 104; 40.0
Sand_Giant.skill4 = 101; 40.0
Sand_Giant.skill5 = 105; 50.0
Sand_Giant.skill6 = 106; 50.0
Sand_Giant.skill7 = 10052; 60.0
Sand_Giant.skill8 = 1023; 60.0
Sand_Giant.combatDamageType = 0
Sand_Giant.handDamage = 9.0
Sand_Giant.kickDamage = 12.0
Sand_Giant.biteDamage = 0.0
Sand_Giant.headButtDamage = 15.0
Sand_Giant.breathDamage = 0.0
Sand_Giant.handDamString = maul
Sand_Giant.kickDamString = stomp
Sand_Giant.headbuttDamString = smash
Sand_Giant.butcheredItems = 636;308;310;92
Sand_Giant.meatMaterial = 81
Sand_Giant.types = 29;16;6;40;13;30;18
Sand_Giant.speed = 1f
Sand_Giant.moveRate = 1600
Sand_Giant.aggressivity = 45
Sand_Giant.bodyType = 4
Sand_Giant.maxHuntDistance = 16
Sand_Giant.vision = 8
Sand_Giant.combatMoves = 1;
#Sand_Giant.encounter1 = TILE_SAND; 2; 3
#Sand_Giant.maxPercentOfCreatures = 0.01f


# Defining properties for the 7 creature.

Skeleton_Warrior.name = Skeleton Warrior
Skeleton_Warrior.sizeModifier = 84; 84; 84
Skeleton_Warrior.modelName = model.creature.humanoid.human.skeleton
Skeleton_Warrior.dimension = 40; 100; 50
Skeleton_Warrior.color = 33; 33; 44;
Skeleton_Warrior.naturalArmour = 0.4F
Skeleton_Warrior.baseCombatRating = 15.0F
Skeleton_Warrior.hasHands = true;
Skeleton_Warrior.alignment = -80.0f
Skeleton_Warrior.maxAge = 100
Skeleton_Warrior.armourType = 4
Skeleton_Warrior.maxGroupAttackSize = 4
Skeleton_Warrior.deathSounds = sound.combat.death.skeleton;sound.combat.death.skeleton
Skeleton_Warrior.hitSounds = sound.combat.hit.skeleton;sound.combat.hit.skeleton
Skeleton_Warrior.skill1 = 102; 40.0
Skeleton_Warrior.skill2 = 103; 45.0
Skeleton_Warrior.skill3 = 104; 45.0
Skeleton_Warrior.skill4 = 101; 35.0
Skeleton_Warrior.skill5 = 105; 35.0
Skeleton_Warrior.skill6 = 106; 35.0
Skeleton_Warrior.skill7 = 10052; 40.0
Skeleton_Warrior.skill8 = 1023; 40.0
Skeleton_Warrior.combatDamageType = 2
Skeleton_Warrior.handDamage = 6.0
Skeleton_Warrior.kickDamage = 8.0
Skeleton_Warrior.biteDamage = 0.0
Skeleton_Warrior.headButtDamage = 8.0
Skeleton_Warrior.breathDamage = 0.0
Skeleton_Warrior.handDamString = pierce
Skeleton_Warrior.kickDamString = kick
Skeleton_Warrior.headbuttDamString = strike
Skeleton_Warrior.butcheredItems = 141;141
Skeleton_Warrior.meatMaterial = 87
Skeleton_Warrior.types = 29;16;7;13;6;39;
Skeleton_Warrior.speed = 1f
Skeleton_Warrior.moveRate = 1200
Skeleton_Warrior.aggressivity = 33
Skeleton_Warrior.bodyType = 0
Skeleton_Warrior.maxHuntDistance = 8
Skeleton_Warrior.vision = 6
#Skeleton_Warrior.encounter1 = TILE_MYCELIUM; 3;5
#Skeleton_Warrior.maxPercentOfCreatures = 0.02f
Skeleton_Warrior.crushVulnerability = 1.25f

# Defining properties for the 8 creature.

Grave_Keeper.name = Grave Keeper
Grave_Keeper.sizeModifier = 54; 54; 54
Grave_Keeper.modelName = model.creature.humanoid.jackal.rift
Grave_Keeper.dimension = 40; 100; 50
Grave_Keeper.color = 255; 255; 255;
Grave_Keeper.naturalArmour = 0.30F
Grave_Keeper.baseCombatRating = 18.0F
Grave_Keeper.hasHands = true;
Grave_Keeper.alignment = -30.0f
Grave_Keeper.maxAge = 100
Grave_Keeper.armourType = 5
Grave_Keeper.maxGroupAttackSize = 6
Grave_Keeper.deathSounds = sound.death.troll; sound.death.troll
Grave_Keeper.hitSounds = sound.combat.hit.troll; sound.combat.hit.troll
Grave_Keeper.skill1 = 102; 50.0
Grave_Keeper.skill2 = 103; 45.0
Grave_Keeper.skill3 = 104; 45.0
Grave_Keeper.skill4 = 101; 45.0
Grave_Keeper.skill5 = 105; 45.0
Grave_Keeper.skill6 = 106; 45.0
Grave_Keeper.skill7 = 10052; 55.0
Grave_Keeper.skill8 = 1023; 50.0
Grave_Keeper.combatDamageType = 9
Grave_Keeper.handDamage = 6.0
Grave_Keeper.kickDamage = 13.0
Grave_Keeper.biteDamage = 0.0
Grave_Keeper.headButtDamage = 0.0
Grave_Keeper.breathDamage = 5.0
Grave_Keeper.handDamString = astral slice
Grave_Keeper.kickDamString = soul slice
Grave_Keeper.butcheredItems = 141;141;141;1307;1307;1307
Grave_Keeper.meatMaterial = 87
Grave_Keeper.types = 29;16;7;13;6;39;
Grave_Keeper.speed = 1f
Grave_Keeper.moveRate = 1200
Grave_Keeper.aggressivity = 33
Grave_Keeper.bodyType = 0
Grave_Keeper.maxHuntDistance = 8
Grave_Keeper.vision = 6
Grave_Keeper.ghost = true
Grave_Keeper.physicalResistance = 0.6f
Grave_Keeper.fireVulnerability = 1.4F


# Defining properties for the 9 creature.

#big worm dangerous (Dune meme) hard to solo , esp if its fierce,harden,champ and old (gives good fs after 70 (0.02-0.03fs)) has high butcher difficulty but contains lot of fat/gland/eggs(double size of chicken like 14-16eggs)

Dune_Worm.name = Dune Worm
Dune_Worm.sizeModifier = 168; 168; 168
Dune_Worm.modelName = model.creature.spawn.uttacha
Dune_Worm.dimension = 55; 100; 50
Dune_Worm.color = 101;67;33;
Dune_Worm.naturalArmour = 0.15F
Dune_Worm.baseCombatRating = 30.0F
Dune_Worm.hasHands = false;
Dune_Worm.alignment = -60.0f
Dune_Worm.maxAge = 150
Dune_Worm.armourType = 3
Dune_Worm.maxGroupAttackSize = 12
Dune_Worm.deathSounds = sound.death.uttacha.spawn;sound.death.uttacha.spawn
Dune_Worm.hitSounds = sound.combat.hit.deathcrawler;sound.combat.hit.deathcrawler
Dune_Worm.skill1 = 102; 80.0
Dune_Worm.skill2 = 103; 50.0
Dune_Worm.skill3 = 104; 80.0
Dune_Worm.skill4 = 101; 60.0
Dune_Worm.skill5 = 105; 60.0
Dune_Worm.skill6 = 106; 60.0
Dune_Worm.skill7 = 10052; 50.0
Dune_Worm.skill8 = 10053; 50.0
Dune_Worm.skill9 = 10054; 50.0
Dune_Worm.skill10 = 10055; 50.0
Dune_Worm.skill11 = 1023; 80.0
Dune_Worm.combatDamageType = 3
Dune_Worm.handDamage = 10.0
Dune_Worm.kickDamage = 5.0
Dune_Worm.biteDamage = 18.0
Dune_Worm.headButtDamage = 0.0
Dune_Worm.breathDamage = 8.0
Dune_Worm.handDamString = bite
Dune_Worm.kickDamString = chew
Dune_Worm.headbuttDamString = devour
Dune_Worm.butcheredItems = 310;310;310;140;140;140;140;140;464;464;464;464;464;464;464;464;313;313
Dune_Worm.meatMaterial = 87
Dune_Worm.types = 29;16;6;40;13;30;18;8;7
Dune_Worm.speed = 0.8f
Dune_Worm.moveRate = 2000
Dune_Worm.aggressivity = 65
Dune_Worm.bodyType = 9
Dune_Worm.maxHuntDistance = 32
Dune_Worm.vision = 16
Dune_Worm.combatMoves = 1;
#Dune_Worm..encounter1 = TILE_SAND; 2; 3
#Dune_Worm..maxPercentOfCreatures = 0.005f


# Defining properties for the 10 creature.

#miniboss for missioncreation , for like graveyards , crypts ect does internal dmg , drops a lot of archology fragments and ash and star diamond and crazy diamond(you can change it or use for mission), has resistance to physical 40% but 40% weakness to fire.

Astral_Guardian.name = Astral Guardian
Astral_Guardian.sizeModifier = 84; 84; 84
Astral_Guardian.modelName = model.creature.gmdark
Astral_Guardian.dimension = 40; 100; 50
Astral_Guardian.color = 255; 255; 255;
Astral_Guardian.naturalArmour = 0.15F
Astral_Guardian.baseCombatRating = 28.0F
Astral_Guardian.hasHands = true;
Astral_Guardian.alignment = -80.0f
Astral_Guardian.maxAge = 100
Astral_Guardian.armourType = 5
Astral_Guardian.maxGroupAttackSize = 10
Astral_Guardian.deathSounds = sound.death.lizard  ; sound.death.lizard
Astral_Guardian.hitSounds = sound.combat.hit.lizard; sound.combat.hit.lizard
Astral_Guardian.skill1 = 102; 60.0
Astral_Guardian.skill2 = 103; 45.0
Astral_Guardian.skill3 = 104; 85.0
Astral_Guardian.skill4 = 101; 65.0
Astral_Guardian.skill5 = 105; 65.0
Astral_Guardian.skill6 = 106; 65.0
Astral_Guardian.skill7 = 10052; 75.0
Astral_Guardian.skill8 = 10052; 70.0
Astral_Guardian.skill9 = 10053; 70.0
Astral_Guardian.skill10 = 10054; 70.0
Astral_Guardian.skill11 = 10055; 70.0
Astral_Guardian.skill12 = 1023; 70.0
Astral_Guardian.combatDamageType = 9
Astral_Guardian.handDamage = 8.0
Astral_Guardian.kickDamage = 15.0
Astral_Guardian.biteDamage = 0.0
Astral_Guardian.headButtDamage = 0.0
Astral_Guardian.breathDamage = 10.0
Astral_Guardian.handDamString = astral slam
Astral_Guardian.kickDamString = soul drain
Astral_Guardian.butcheredItems = 141;141;141;141;141;141;141;141;141;1411307;1307;1307;1307;1307;1307;1307;1307;1307;1307;1307;1307;1307;381;370
Astral_Guardian.meatMaterial = 87
Astral_Guardian.types = 29;16;7;13;6;39;
Astral_Guardian.speed = 1.2f
Astral_Guardian.moveRate = 1600
Astral_Guardian.aggressivity = 62
Astral_Guardian.bodyType = 0
Astral_Guardian.maxHuntDistance = 25
Astral_Guardian.vision = 12
Astral_Guardian.ghost = true
Astral_Guardian.combatMoves = 1;
Astral_Guardian.physicalResistance = 0.6f
Astral_Guardian.fireVulnerability = 1.4F