
# You can find Properties.md in the CustomCreatures folder for details on properties.
# You can also find other files with interesting values in there.
# To see what the values for a creature are, consult CreatureTemplates.txt

# The only required property for a custom creature is the `name`.
# by default properties can be a variety of stuff. change them if you don't like em.
# Changing a creature's name seems to cause existing ones to not work anymore. Look out for that.

# Be sure to not misspell the property names. You can check the serverlog to make sure it read it.
# There should be a line like "Creating creature template builder for: CREATURE" and then
# one like "Added PROPERTY" for every property.


# A list of the creatures to include. You will use these identifiers (must be single word) later in this file.
customCreatures = exampleMob1; exampleMob2; roberto




# Defining properties for the first creature. The name is strictly required.
exampleMob1.name = Example Mob One!




# Defining properties for the second creature.
exampleMob2.name = Example Mob Two!



# Defining a few mroe properties for roberto
roberto.name = Ghost Roberto
roberto.ghost = true
roberto.sizeModifier = 256; 256; 256
roberto.modelName = model.creature.humanoid.rooster.brown
roberto.dimension = 401; 401; 401